

<table id="results" class="table">


        <thead>
        
            <tr>
            
                <th>Au service</th>
                <th>Service demandeur</th>
                <th>Reference</th>
                <th>Date_creation</th>
                <th>Etat</th>
                <th>show</th>
                 <th>treat</th>
                  <th>delete</th>
            </tr>
        </thead>
        <tbody>
        {% for intervention in interventions %}
            <tr>
              
                <td>{{ intervention.au_service }}</td>
                <td>{{ intervention.service_demandeur }}</td>
                <td>{{ intervention.reference }}</td>
                <td>{{ intervention.date ? intervention.date|date('Y-m-d') : '' }}</td>
                <td>{{ intervention.etat }}</td>

                <td>
                    <a href=""><button type="button"  class="btn btn-outline-dark">Show</button></a>
                    <br>
                    </td>
                    
                    
                    
                    <td>
                    <a href="{{ path('app_interventions_traite', {'id': intervention.id}) }}"><button type="button" class="btn btn-outline-info">Traiter</button></a>
                    <br>
                    </td>
                    <td>
                    {{ include('interventions/_delete_form.html.twig') }}
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>